@import 'libs/_reseter.min.css';

@import 'base/variables';
@import 'libs/slick';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    background: url('../img/main-bg.jpg') center center / cover no-repeat;
    background-attachment: fixed;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background-color: #fff;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.hr {
    height: 1px;
    background-color: $main-color;
    margin: 5px 10px 10px;
}

.copyright {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 0 10px;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: $main-color;
}

.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 32px !important;
    width: 32px !important;
    background-size: 32px 32px !important;
}

.ya-share2__container_size_m .ya-share2__title {
	line-height: 32px !important;
}

.ya-share2__container_size_m .ya-share2__item_more .ya-share2__icon_more {
    background-size: 24px 24px !important;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .55);
    z-index: 3;
    transition: all .6s;
    &.active {
        display: block;
    }
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
    }
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/left-sidebar';
@import 'blocks/content';
@import 'blocks/right-sidebar';
@import 'blocks/single';
@import 'blocks/footer';
@import 'blocks/photorep';
@import 'blocks/hamburger';
@import 'blocks/media';