.main {
    &__docsearch {
        &-title {
            position: relative;
            margin: 0 10px;
            padding: 8px 15px;
            border: 1px solid $main-color;
            font-size: 16px;
            font-weight: 500;
            color: $main-color;
            cursor: pointer;

            & .icon-right {
                transition: all .4s ease;
                position: absolute;
                right: 5px;
                color: $main-color;
                top: 9px;
            }

            & .icon-left {
                margin-right: 10px;
            }

            &.open .icon-right {
                transform: rotate(180deg);
            }
        }

        &-block {
            height: 0;
            overflow: hidden;
            transition: all, .5s;

            &.open {
                height: 190px;
            }
        }

    }
}

.doc-filter {
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 40px);
    column-gap: 10px;
    row-gap: 15px;

    &__text {
        position: relative;
    }

    &__text {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.fa.fa-file-pdf-o.fa-lg {
    margin-left: 10px;
}

.fa-file-pdf-o::before {
    content: "\f1c1";
}

.fa-lg {
    font-size: 2em;
}

.fa {
    font-weight: 500;
}