.form {
    &-label {
        position: absolute;
        margin-bottom: 0;
        height: 18px;
        padding: 0 8px;
        background-color: #fff;
        color: $main-color;
        font-size: 14px;
        display: block;
        top: -9px;
        left: 10px;
    }

    &-input {
        position: relative;

        &-fullwidth {
            grid-column: 1 / 3;
        }
    }

    &-submit {
        border: solid 2px $main-color;
        color: $main-color;
        background-color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #fff;
            background-color: $main-color;
        }
    }
}

input,
select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
}

label.error {
    font-size: 14px;
    z-index: 10;
    left: 15px;
    bottom: 50%;
    transform: translateY(50%);
    color: #f00;
}

input.error,
textarea.error {
    border-color: #f00;
    outline: none;
}

textarea {
    padding: 5px 8px;
}

.btn-small {
    width: 200px;
}

.status {
    font-size: 13px;
    line-height: 40px;
    // text-align: center;
    &.success {
        color: #24854e;
    }
    &.error {
        color: #f00;
    }
}

.ya-site-form__input-text {
	border-radius: 4px;
}

#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    width: 255px;
    height: 24px;
    padding: 0 18px;
    font-size: 16px !important;
    margin-right: 15px !important;
}

.ya-site-form__search-input-layout-r>input[type=button].ya-site-form__submit.ya-site-form__submit_type_image {
    width: 48px !important;
	height: 24px !important;
	background: url('/icons/search.png') center center no-repeat #fff !important;
	border-radius: 4px;
}

