.wrapper {
    background-color: #eee;
    box-shadow: 0 0 50px 10px $main-color;
}

.main {
    & .container {
        display: grid;
        grid-template-columns: 265px auto 265px;
    }

    &__left {
        width: 265px;

        &-weather {
            padding: 10px 13px;
        }
    }

    &__content {
        width: 610px;
    }

}

.messages {
    visibility: hidden;
    width: 500px;
    min-height: 100px;
    padding: 40px 20px 10px;
    background-color: #fff;
    position: fixed;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 4px;
    &__close {
        font-size: 28px;
        position: absolute;
        right: 10px;
        top: 3px;
        cursor: pointer;
        & i {
            color: $main-color;
        }
        &:hover i {
            color: $sec-color;
        }
    }
    &.open {
        visibility: visible;
        left: 50%;
    }
}