.main {
    & .container {
        display: grid;
        grid-template-columns: 265px auto 265px;
    }

    &__left {
        width: 265px;

        &-weather {
            padding: 10px 23px;
        }
    }

    &__content {
        width: 610px;
    }

}

.messages {
    visibility: hidden;
    width: 500px;
    min-height: 100px;
    padding: 40px 20px 10px;
    background-color: #fff;
    position: fixed;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    &__close {
        font-size: 28px;
        position: absolute;
        right: 10px;
        top: 8px;
        cursor: pointer;
    }
    &.open {
        visibility: visible;
        left: 50%;
    }
}