.main {
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        width: 265px;
    }

    &__right {
        width: 265px;
    }
}