@media (hover: none) and (pointer: coarse) {

    [aria-label][role~="tooltip"]:hover::before,
    [aria-label][role~="tooltip"]:hover::after,
    [aria-label][role~="tooltip"]:focus::before,
    [aria-label][role~="tooltip"]:focus::after {
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header {
        &__logo {
            &-text {
                font-size: 18px;
            }
        }

        &__info {
            &-addres {
                font-size: 16px;
            }

            &-phone {
                font-size: 14px;
            }
        }
    }

    .main {
        & .container {
            grid-template-columns: 265px auto 150px;
        }

        &__content {
            width: 545px;
        }

        &__right {
            // width: 150px;

            &-button {
                width: 150px;

                & a {
                    justify-content: center;
                }

                &-text {
                    display: none;
                }
            }
        }
    }

    .single {
        & .container {
            grid-template-columns: 265px auto 150px;
        }

        &__content {
            width: 545px;
        }

        &__right {
            // width: 150px;

            &-button {
                width: 150px;
                justify-content: center;

                &-text {
                    display: none;
                }
            }
        }
    }

    .banner__pos-small {
        display: none;
    }

    .footer {
        padding: 35px 15px;
        font-size: 14px;

        &__left {
            width: 270px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header {
        &__logo {
            width: 300px;
        }

        &__info {
            display: none;
        }
    }

    .main {
        & .container {
            grid-template-columns: 0 610px 110px;
        }

        &__left {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__content {
            width: 100%;
        }

        &__right {
            &-button {
                width: 110px;
            }
        }

        &__menu {
            position: absolute;
            background-color: #fff;
            top: 0;
            left: -320px;
            width: 320px;
            padding-left: 20px;
            z-index: 1000;
            visibility: visible;
            transition: all .5s;

            &.open {
                left: 0;
            }
        }
    }

    .single {
        & .container {
            grid-template-columns: 0 610px 110px;
        }

        &__left {
            width: 0;
            height: 0;
            visibility: hidden;
        }

        &__content {
            width: 100%;
        }

        &__right {
            &-button {
                width: 110px;
            }
        }

        &__menu {
            position: absolute;
            background-color: #fff;
            top: 0;
            left: -320px;
            width: 320px;
            padding-left: 20px;
            z-index: 1000;
            visibility: visible;
            transition: all .5s;

            &.open {
                left: 0;
            }
        }
    }

    .hamburger {
        visibility: visible;
    }

    .footer {
        &__wrap {
            flex-wrap: wrap;
        }

        &__left {
            width: 50%;
        }

        &__mid {
            width: 50%;
        }

        &__right {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .mistakes {
        display: none;
    }

    .header {
        &__bottom {
            flex-direction: column;
            gap: 14px;
            padding: 10px 32px 15px 32px;
            transition: all .5s;
            overflow-y: hidden;

            &.expanded {
                height: 94px;
            }

            &-expand {
                display: block;
                font-size: 24px;
                right: -30px;
                color: #fff;
                cursor: pointer;

                & i {
                    transition: all 0.4s ease;
                }

                &.open i {
                    transform: rotate(180deg);
                }
            }
        }

    }

    .search__text {
        width: 50vw;
    }

    .main {
        & .container {
            grid-template-columns: 100%;
            row-gap: 15px;
        }

        &__right {
            &-button {
                width: 320px;
                margin: 10px auto;

                &-text {
                    display: block;
                }
            }
        }
    }

    .single {
        & .container {
            grid-template-columns: 100%;
            row-gap: 15px;
        }

        &__content {
            &-article {
                &-footer {
                    justify-content: center;
                }
            }
        }

        &__right {
            width: 100%;

            &-button {
                width: 320px;
                margin: 10px auto;

                & a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                }

                &:hover {
                    box-shadow: 0px 12px 10px -5px #555;


                    & a>.single__right-button-text {
                        color: $sec-color;
                    }
                }

                &-text {
                    display: block;
                    width: 167px;
                    display: block;
                    font-family: Roboto Condensed;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-color;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }

    .footer {
        &__wrap {
            flex-direction: column;
            justify-content: center;
            gap: 15px;
        }

        &__left,
        &__mid,
        &__right {
            width: 100%;
        }

        &__left {
            text-align: center;
        }

        &__right {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        &__social {
            width: 100%;

            & .social {
                justify-content: center;
            }
        }
    }

    [aria-label][role~="tooltip"]:hover::before,
    [aria-label][role~="tooltip"]:hover::after,
    [aria-label][role~="tooltip"]:focus::before,
    [aria-label][role~="tooltip"]:focus::after {
        opacity: 0;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .header {
        &__top {
            padding: 0 10px;
        }

        &__logo {
            &-text {
                margin-left: 12px;
            }
        }

        &__social {
            display: none;
        }

        &__bottom {
            padding: 10px 15px;
        }
    }

    .single {
        &__content {
            &-article {
                &-photo {
                    width: 100%;
                    margin: 15px 0;
                }

                &-photorep {
                    grid-template-columns: 100%;
                }
            }
        }
    }


}

@media (max-width: 480px) {
    .doc-filter {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 40px);
        &__text {
            grid-column: unset;
        }

    }

    .main__docsearch-block.open {
        height: 360px;
    }

}