.priem {
    margin: 20px 10px;

    &__title {
        text-align: center;
        font-weight: 500;
    }

    & h2 {
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        color: $main-color;
    }

    &__list {
        margin: 0 25px;

        & li {
            margin: 10px 5px;
        }
    }

    p {
        margin: 10px 0;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 15px;
        
    }
}