.main__right {
    margin-top: 2px;

    &-button {
        margin-top: 8px;
        width: 265px;
        height: 67px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 10px 10px -5px #555;
        transition: 100ms;
        &:hover {
            box-shadow: 0px 12px 10px -5px #555;
        }
        &:active {
            box-shadow: 0px 5px 7px -5px #555;
        }
        &-image {
            width: 98px;
            height: 60px;
        }

        &-text {
            width: 167px;
            & a {
                display: block;
                font-family: Roboto Condensed;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $main-color;
                text-decoration: none;
                text-align: center;
                &:hover {
                    color: $sec-color;
                }
            }
        }
    }
}