.main__right {
    margin-top: 2px;

    &-button {
        margin-top: 8px;
        width: 265px;
        height: 67px;
        box-shadow: 0px 10px 10px -5px #555;
        transition: 100ms;

        & a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
        }

        &:hover {
            box-shadow: 0px 12px 10px -5px #555;
            

            & a>.main__right-button-text {
                color: $sec-color;
            }
        }

        &:active {
            box-shadow: 0px 5px 7px -5px #555;
        }

        &-image {
            width: 98px;
            height: 60px;
        }

        &-text {
            width: 167px;
            display: block;
            font-family: Roboto Condensed;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $main-color;
            text-decoration: none;
            text-align: center;
        }
    }
}

.single__right {
    margin-top: 2px;

    &-button {
        margin-top: 8px;
        width: 150px;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 10px -5px #555;
        transition: 100ms;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 12px 10px -5px #555;
        }

        &:active {
            box-shadow: 0px 5px 7px -5px #555;
        }

        &-image {
            width: 98px;
            height: 60px;
        }

        &-text {
            display: none;
        }
    }
}

.right-banner {
	margin: 15px 10px 0;
}

.banner__pos-small {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}